@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  /* Primary colors */
  --color-primary-light: #dbeafe;
  --color-primary: #2563eb;
  --color-primary-hover: #1e40af;
  --color-primary-dark: #1e3a8a;

  /* Secondary colors */
  --color-secondary-light: #f3e8ff;
  --color-secondary: #8b5cf6;
  --color-secondary-hover: #7c3aed;
  --color-secondary-dark: #5b21b6;

  /* Neutral colors */
  --color-neutral-lightest: #f9fafb;
  --color-neutral-light: #f3f4f6;
  --color-neutral: #9ca3af;
  --color-neutral-dark: #4b5563;
  /* use this for normal texts */
  --color-neutral-darker: #1f2937;
  /* use this for main headings */

  /* Danger (error) */
  --color-danger: #ef4444;
  --color-danger-dark: #dc2626;

  /* Warning */
  --color-warning: #f59e0b;
  --color-warning-dark: #d97706;

  /* Success */
  --color-success: #10b981;
  --color-success-dark: #059669;

  --text-3xl: 28px;
}

@layer base {
  body {
    @apply bg-neutral-lightest text-neutral-dark text-sm;
  }

  hr {
    @apply border-neutral;
  }
}

@layer components {
  .heading-text {
    @apply text-neutral-darker text-3xl font-bold;
  }

  .sub-heading-text {
    @apply text-neutral-darker text-2xl font-semibold;
  }

  .label-input-group {
    @apply flex flex-col gap-2;
  }

  .label-text {
    @apply group-focus-within:text-primary text-neutral-darker transition-colors duration-300;
  }

  .input-field {
    @apply border-neutral focus:border-primary rounded-md border p-2 transition-all duration-300 outline-none;
  }

  .large-text {
    @apply text-neutral-darker text-lg font-semibold;
  }

  .sm-text {
    @apply text-neutral-dark text-sm;
  }

  .error-text {
    @apply text-danger;
  }

  .h-screen-minus-header {
    height: calc(100vh - 80px);
  }

  .section {
    @apply bg-neutral-lightest shadow-neutral rounded-md p-8 shadow-md;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(8px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-fadeIn {
    animation: fadeIn 0.3s ease-out forwards;
  }
}
